<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ recipe_object.title }} -
        Scrumptious Recipes
      </title>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    <header>
        <nav>
            <a class="color-white" href="{% url 'recipe_list' %}">Main Page</a>
            <a class="color-white" href="{% url 'edit_recipe' recipe_object.id %}"><button>Update Recipe</button></a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <h5>{{ recipe_object.created_on }}</h5>
    <div>
        <h3>
            <a href="detail.html"></a>
        </h3>
        <img src="{{ recipe_object.picture }}">
        <p>
            Writen by 
            {{ recipe_object.author.username|default:"Anonymous"}}
        </p>
    </div>
    <p>{{ recipe_object.description }}</p>
    <h2> Ingredients</h2>
    <table class="ingredients-table">
        <thead>
            <tr>
                <th>Amount</th>
                <th>Food item</th>
            </tr>
        </thead>
        <tbody>
           {% for ingredient in recipe_object.ingredients.all %}
            <tr>
                <td>{{ ingredient.amount }}</td>
                <td>{{ ingredient.food_item }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>  
        <h2> Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
            <li>{{ step.instruction }}</li>
            {% endfor %}
        </ol>
    </main>
    <footer>
        Made with love by Scrumptious Recipes
    </footer>
</body>
</html>