{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block tittle %}
    <title>
        Sign Up! - Scrumptious recipes
    </title>
    {% endblock tittle %}
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
</head>
<body>
    {% block content %}
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main page</a>
        </nav>
    </header>
    <main>
        <h1>Sign Up!</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button>Sign Up</button>
        </form>
    {% endblock content %}
    </main>
</body>
</html>